In [20]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import svm
from sklearn.utils.validation import column_or_1d

soybean_data = pd.read_csv('data/data.csv')
# X = soybean_data.drop(columns=['Cultivar'])
# y = soybean_data['Cultivar']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=46)

# C=pow(2,5)
# clf= svm.SVC(kernel='linear',C=C)
# clf.fit(X_train, y_train)
# predictie = clf.predict(X_test)

# acuratete=accuracy_score(y_test, predictie)
# acuratete

# model = DecisionTreeClassifier()
# model.fit(X, y)

# tree.export_graphviz(model, out_file='soybean_prediction.dot',
#                     feature_names=['Season', 'Repetition', 'PH', 'IFP', 'NLP', 'NGP', 'NGL', 'NS', 'MHG', 'GY'],
#                     class_names=sorted(y.unique()),
#                     label='all',
#                     rounded=True,
#                     filled=True)

# model = joblib.load('soybean-predictor.joblib')
# prediction = model.predict( [[2, 5, 62.50, 15.80, 44.32, 93.84, 1.95, 3.79, 200.86, 3204.930000]] )
# prediction
# model.fit(X_train, y_train)
# predictions = model.predict(X_test)

# score = accuracy_score(y_test, predictions)
# score

,Season,Cultivar,Repetition,PH,IFP,NLP,NGP,NGL,NS,MHG,GY
0,1,0,1,58.80,15.20,98.20,177.80,1.81,5.20,152.20,3232.820000
1,1,0,2,58.60,13.40,102.00,195.00,1.85,7.20,141.69,3517.360000
2,1,0,3,63.40,17.20,100.40,203.00,2.02,6.80,148.81,3391.460000
3,1,0,4,60.27,15.27,100.20,191.93,1.89,6.40,148.50,3312.580000
4,1,1,1,81.20,18.00,98.80,173.00,1.75,7.40,145.59,3230.990000
...,...,...,...,...,...,...,...,...,...,...,...
315,2,38,4,88.33,16.33,75.73,139.00,1.84,3.67,135.19,3348.931034
316,2,39,1,64.40,16.60,76.00,168.00,2.21,3.60,145.69,3418.850575
317,2,39,2,64.60,17.60,116.80,271.20,2.32,3.80,147.24,3651.586207
318,2,39,3,58.80,14.80,86.40,180.60,2.09,2.20,156.32,3487.931034
319,2,39,4,62.60,16.33,93.07,206.60,2.21,3.20,157.61,3605.310345

In [23]:
soybean_data = pd.read_csv('data/data.csv')
soybean_data

,Season,Cultivar,Repetition,PH,IFP,NLP,NGP,NGL,NS,MHG,GY
0,1,NEO 760 CE,1,58.80,15.20,98.20,177.80,1.81,5.20,152.20,3232.820000
1,1,NEO 760 CE,2,58.60,13.40,102.00,195.00,1.85,7.20,141.69,3517.360000
2,1,NEO 760 CE,3,63.40,17.20,100.40,203.00,2.02,6.80,148.81,3391.460000
3,1,NEO 760 CE,4,60.27,15.27,100.20,191.93,1.89,6.40,148.50,3312.580000
4,1,MANU IPRO,1,81.20,18.00,98.80,173.00,1.75,7.40,145.59,3230.990000
...,...,...,...,...,...,...,...,...,...,...,...
315,2,FTR 4288 IPRO,4,88.33,16.33,75.73,139.00,1.84,3.67,135.19,3348.931034
316,2,FTR 3190 IPRO,1,64.40,16.60,76.00,168.00,2.21,3.60,145.69,3418.850575
317,2,FTR 3190 IPRO,2,64.60,17.60,116.80,271.20,2.32,3.80,147.24,3651.586207
318,2,FTR 3190 IPRO,3,58.80,14.80,86.40,180.60,2.09,2.20,156.32,3487.931034
319,2,FTR 3190 IPRO,4,62.60,16.33,93.07,206.60,2.21,3.20,157.61,3605.310345

In [ ]:
dictionary = {}
n = 0

for column in soybean_data.select_dtypes(include=['object']):
    unique_values = soybean_data[column].unique()
    for value in unique_values:
        if value not in dictionary:
            dictionary[value] = n
            n += 1

    soybean_data[column] = soybean_data[column].map(dictionary)
    
soybean_data.to_csv('data_processed.csv', index=False)

In [21]:
df = pd.read_csv('data_processed.csv')
df

,Season,Cultivar,Repetition,PH,IFP,NLP,NGP,NGL,NS,MHG,GY
0,1,0,1,58.80,15.20,98.20,177.80,1.81,5.20,152.20,3232.820000
1,1,0,2,58.60,13.40,102.00,195.00,1.85,7.20,141.69,3517.360000
2,1,0,3,63.40,17.20,100.40,203.00,2.02,6.80,148.81,3391.460000
3,1,0,4,60.27,15.27,100.20,191.93,1.89,6.40,148.50,3312.580000
4,1,1,1,81.20,18.00,98.80,173.00,1.75,7.40,145.59,3230.990000
...,...,...,...,...,...,...,...,...,...,...,...
315,2,38,4,88.33,16.33,75.73,139.00,1.84,3.67,135.19,3348.931034
316,2,39,1,64.40,16.60,76.00,168.00,2.21,3.60,145.69,3418.850575
317,2,39,2,64.60,17.60,116.80,271.20,2.32,3.80,147.24,3651.586207
318,2,39,3,58.80,14.80,86.40,180.60,2.09,2.20,156.32,3487.931034
319,2,39,4,62.60,16.33,93.07,206.60,2.21,3.20,157.61,3605.310345